$white: #fff;
$black: black;
$grayBD: #BDBDBD;
$grayC4: #C4C4C4;
$grayF2: #F2F2F2;
$gray82: #828282;
$gray4F: #4F4F4F;

$star: #EB5757;

$weight7: 700;
$weight9: 900;
$weight5: 500;
$weight4: 400;

$br10: 10px;
$br15: 15px;

$font-main: 'Roboto', sans-serif; 
$font-point: "Noto Sans KR", sans-serif;